@model ADASOFT.Models.CampusViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Sede</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddCampus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId"/>
             <partial name="_Campus" />
            
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="DetailsCity" asp-route-id="@Model.CityId" class="btn btn-outline-success">Regresar</a>
                
           </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




