@model ADASOFT.Data.Entities.Campus

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Está seguro de querer borrar?</h3>
<div>
      <partial name="_CampusDetails"/>
    
    <form asp-action="DeleteCampus">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" /> 
        <a asp-action="DetailsCity" asp-route-id="@Model?.City.Id" class="btn btn-outline-success">Regresar</a>
    </form>
</div>