@model ADASOFT.Data.Entities.Campus

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
     <partial name="_CampusDetails"/>
</div>
<div>
    <a asp-action="EditCampus" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a> 
    <a asp-action="DetailsCity" asp-route-id="@Model?.City.Id" class="btn btn-outline-success">Regresar</a>
</div>

