@using ADASOFT.Enums
@model ADASOFT.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

@if(@Model.UserType == UserType.User ){

<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-danger">
            <i class="fa fa-users"></i>  
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAttendant", Model)
            </div>
        </div>
    </div>
</div>
}