@model ADASOFT.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<flash dismissable="true" />

@*<h1>Detalles</h1>

<div>
    <partial name="_UserDetails"/>    
</div>*@
<div>
    @*<a asp-action="AddAttendant" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Añadir Acudiente</a>*@
    <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-success">Regresar</a>
</div>
<hr />

<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-danger">
            <i class="fa fa-users"></i>  <strong>Acudientes</strong>
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAttendant", Model)
            </div>
        </div>
    </div>
</div>
<!--modal placeholder. Also you can place this modal form in the _Layout.cshtml-->
<div class="modal fade in" tabindex="-1" role="dialog" data-bs-backdrop="static" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white"></h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">                   
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#UsersTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [3, 6, 9, 12, -1],
                    [3, 6, 9, 12, "Todos"]
                ]
            });
        });
    </script>
}


