@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Adasoft.png" />
    @*<h1 class="display-4">Welcome</h1>*@
  <font  face="Times New Roman" size=6 >
    <h1>“El aprendizaje nunca agota la mente.”</h1>
    <sub>Leonardo Da Vinci</sub>
   </font>

</div>
