@model ADASOFT.Data.Entities.Course

<div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="User" class="control-label"></label>
            <input asp-for="User" class="form-control" />
            <span asp-validation-for="User" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Schedule" class="control-label"></label>
            <input asp-for="Schedule" class="form-control" />
            <span asp-validation-for="Schedule" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div> 
        

    </div>    
    