@model ADASOFT.Models.AddCourseImageViewModel

@{
    ViewData["Title"] = "Create";
}

<flash dismissable="true" />
<div class="col-md-12">
<h1>Crear</h1>

<h4>Imagen / Curso</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                <a asp-action="Details" asp-route-id="@Model.CourseId" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i>Regresar</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

