@model ADASOFT.Models.GradeViewModel


<div class="row">
    <div class="col-md-6">
@*        <div class="form-group">
            <label asp-for="StudentCourseId" class="control-label"></label>
            <input asp-for="StudentCourseId" class="form-control" />
            <span asp-validation-for="StudentCourseId" class="text-danger"></span>
        </div>*@
        
        <div class="form-group">
            <label asp-for="Grades" class="control-label"></label>
            <input asp-for="Grades" class="form-control" />
            <span asp-validation-for="Grades" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Percentage" class="control-label"></label>
            <input asp-for="Percentage" class="form-control" />
            <span asp-validation-for="Percentage" class="text-danger"></span>
        </div>
        
    </div>   
 </div>  
