@model ADASOFT.Models.ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
}

<flash dismissable="true" />

    <div class="col-md-4 offset-4"> 
  @*   <div class="card bg-warning bg-gradient  bg-opacity-75 mb-3" style="width: 450px; height: 450px">*@
    <center><h2><i class="fa-solid fa-key"></i> Cambio de Contraseña</h2></center> 
     <div class="card-body bg-light" style="border-radius: 10px; border: 1px solid grey; width: 350px; height: 450px">

    	<form method="post">
        	<div asp-validation-summary="ModelOnly"></div>

        	<div class="form-group">
            	<label asp-for="OldPassword"></label>
            	<input asp-for="OldPassword" type="password" class="form-control" />
            	<span asp-validation-for="OldPassword" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<label asp-for="NewPassword"></label>
            	<input asp-for="NewPassword" type="password" class="form-control" />
            	<span asp-validation-for="NewPassword" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<label asp-for="Confirm"></label>
            	<input asp-for="Confirm" type="password" class="form-control" />
            	<span asp-validation-for="Confirm" class="text-danger"></span>
        	</div>

        	<div class="form-group mt-2">

            	 <button input type="submit" value="RecoverPassword"  class="btn btn-primary btn-block">Cambiar Contraseña</button>
            	<a asp-action="ChangeUser" class="btn btn-success btn-block">Regresar</a>
        	</div>
    	</form>
	</div>
    <div class="card-footer bg-transparent text-success">
</div>
</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

