@{
    ViewData["Title"] = "BIENVENIDO A LA ACADEMIA DE ARTES";
}
<div class="container">
<flash dismissable="true" />

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar el email, ahora puede iniciar sesión.
    </p>
    <img src="~/Images/ADASOFT-A.png" style="width:400px;"/>
</div>
</div>