@{
    ViewData["Title"] = "BIENVENIDO A LA ACADEMIA DE ARTES";
}

<flash dismissable="true" />

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar el email, ahora puede iniciar sesión.
    </p>
</div>
