@model ADASOFT.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<flash dismissable="true" />

<h2>Recuperación de Constraseña</h2>

<div class="row">
    </div>
        <div class="col-md-4 offset-4"> 
             <div class="card bg-warning bg-gradient  bg-opacity-75 mb-3" style="width: 450px; height: 450px">
             <h2 class="card-header text-center"><i class="fa-solid fa-key"></i> Recuperación de Constraseña</h2>
             <div class="card-body bg-light">
                    <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-warning"></span>
                    </div>

                    <div class="form-group mt-2">
                         <button input type="submit" value="RecoverPassword"  class="btn btn-primary btn-block">Recuperación de Contraseña</button>
                                <a asp-action="Login" class="btn btn-success btn-block">Regresar</a>
                    </div>
             </form>         
                </div>
                <div class="card-footer bg-transparent text-success">
                <p>
                    @ViewBag.Message
                </p>
             </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

 