@model ADASOFT.Models.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 </head>
<div class="container-sm">
<flash dismissable="true" />

<h2>Registrar</h2>

<h4>Usuario</h4>

<div class="text-success">
    <h2>
        @ViewBag.Message
    </h2>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserType" />
            <input type="hidden" asp-for="States" />
            <input type="hidden" asp-for="Cities" />
            <input type="hidden" asp-for="Campuses" />

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
            </div>    

            <partial name="_User" />

            <div class="form-group mt-2">
                <input type="submit" value="Registrar" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#StateId").change(function () {
                debugger;
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Selecciona una ciudad...]</option>');
                $("#CampusId").empty();
                $("#CampusId").append('<option value="0">[Selecciona un campus...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCities")',
                    dataType: 'json',
                    data: { stateId: $("#StateId").val() },
                    success: function (cities) {
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
            $("#CityId").change(function () {
                $("#CampusId").empty();
                $("#CampusId").append('<option value="0">[Selecciona un campus...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCampuses")',
                    dataType: 'json',
                    data: { cityId: $("#CityId").val() },
                    success: function (campuses) {
                        $.each(campuses, function (i, campus) {
                            debugger;
                            $("#CampusId").append('<option value="'
                                + campus.id + '">'
                                + campus.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
</html>
